@font-face {
    font-family: MangoGrotesque ;
    src: url(./assets/MangoGrotesque-Light.ttf);
}
@font-face {
    font-family: ppneuemontreal;
    src: url(./assets/ppneuemontreal-bold.woff);
}

@font-face {
    font-family: ppneuemontreal-thin ;
    src: url(./assets/ppneuemontreal-thin.woff);
}


.menu-bar{
    mix-blend-mode: difference;
    
}
 

.contact-p{
    font-family:  MangoGrotesque ;
}
.contact-a{
    font-family: ppneuemontreal;
}
.contact-m{
    font-family:  MangoGrotesque ;
    letter-spacing: 3px;
    font-weight: thin;
}

.contact-t{
    font-family: ppneuemontreal-thin ;
    letter-spacing: 1px;
}


/* font.css */



/* svg-animation */

.svg-animation-1 {
    animation: rotate-1 10s linear infinite; /* 10 seconds for a full rotation */
  }
  
  /* Define the keyframes for the rotation */
  @keyframes rotate-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .svg-animation {
    animation: rotate 10s linear infinite; /* 10 seconds for a full rotation */
  }
  
  /* Define the keyframes for the rotation */
  @keyframes rotate {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }